@{
    ViewData["Title"] = "Home Page";
}

<h1>Examples</h1>
<div class="row">
    <ul>
        <li>@Html.ActionLink("Static File Download", "Index", "StaticFile")</li>
        <li>@Html.ActionLink("Azure Blob Storage", "Index", "StorageBlob")</li>
        <li>@Html.ActionLink("Azure File Storage", "Index", "StorageFile")</li>
    </ul>
</div>