@model  System.Collections.Generic.List<string>
@{
    ViewBag.Title = "Static files Page";
}

<h1>Static file links</h1>

<div class="row">
    <ul>
        @foreach (var name in Model)
        {
            <li>@Html.ActionLink(name, "DownloadStaticFile", new { fileName = name })</li>
        }
    </ul>
</div>
